<!doctype html>
<html lang="en" data-edition="<%= process.env.PORTAINER_EDITION %>">
  <head>
    <meta charset="utf-8" />
    <title>Vessel HQ</title>
    <meta name="description" content="Vessel HQ container management" />
    <meta name="author" content="<%= author %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex" />
    <base id="base" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%=require('./assets/ico/vessel-hq-mark.svg')%>"
    />
    <meta name="theme-color" content="#13b8a6" />
  </head>

  <body>
    <div id="root"><%= ssrShell %></div>
  </body>
</html>
