.root {
  background-color: #252527;
  border: 1px inset #252527;
  corner-shape: squircle;
}

.closeBtn {
  background-color: transparent;
}

.closeBtn:hover {
  background-color: var(--graphite-500);
}
